In [2]:
import pandas as pd

2019/01/09 to 2019/02/06

In [4]:
df = pd.read_csv('../data/scraped_stories_sections.csv')
df = df[~df['pub_date'].isna()]

In [6]:
df['parsed_date'] = pd.to_datetime(df['pub_date'].apply(lambda x: x.split('Posted on ')[1].split(', at')[0]))

In [7]:
df_19 = df[df['parsed_date']>pd.to_datetime('2019-01-08')]

In [10]:
df_19.groupby('byline').count()

                  link  hed  subhed  pub_date  text_body  parsed_date
byline
Adam B. Vary         4    4       4         4          4            4
Ade Onibada          2    2       2         2          2            2
Adolfo Flores        2    2       2         2          2            2
Alan White           2    2       2         2          2            2
Alanna Bennett       2    2       2         2          2            2
...                ...  ...     ...       ...        ...          ...
Venessa Wong         2    2       2         2          2            2
Vera Bergengruen     1    1       1         1          1            1
Zahra Hirji          4    4       4         4          4            4
Zan Romanoff         1    1       1         1          1            1
Zoe Tillman         12   12      12        12         12           12

[141 rows x 6 columns]

In [17]:
taxonomy = {}
for i in set(df_19.section):
    section = df_19[df_19.section==i]
    taxonomy[i] = list(set(section.byline))

In [18]:
taxonomy

{nan: [],
 'national': ['Tasneem Nashrulla',
  'Jason Wright',
  'Tyler Kingkade',
  'Jessica Testa'],
 'Quiz': ['Jane Lytvynenko'],
 'buzzfeed': ['Gabriel H. Sanchez'],
 'tech': ['Katie Notopoulos',
  "Caroline O'Donovan",
  'Mat Honan',
  'Venessa Wong',
  'Ryan Mac',
  'Pranav Dixit',
  'Charlie Warzel',
  'Davey Alba',
  'Leticia Miranda',
  'Nicole Nguyen'],
 'politics': ['Nidhi Prakash',
  'Dominic Holden',
  'Otillia Steadman',
  'Molly Hensley-Clancy',
  'Ben Smith',
  'Lissandra Villa',
  "Ema O'Connor",
  'Henry J. Gomez',
  'Zahra Hirji',
  'Azeen Ghorayshi',
  'Paul McLeod',
  'Emily Tamkin',
  'Tarini Parti',
  'Chris Geidner',
  'Emma Loop',
  'Alexis Levinson',
  'Katherine Miller',
  'Amber Jamieson',
  'Ruby Cramer',
  'Darren Sands',
  'Zoe Tillman',
  'Matt Berman',
  'Ryan Brooks'],
 'health': ['Theresa Tamkins',
  'Drusilla Moorhouse',
  'Lauren Strapagiel',
  'Caroline Kee'],
 'Poll': ['Stephanie McNeal'],
 'business': ['Ben Smith'],
 'opinion': ["Brian O'Dwyer",
  'George Johnson',
  'D. Taylor',
  'Bill Wyman',
  'Melissa Ryan',
  'Gregor Macdonald',
  'Salma El-Wardany',
  'Tom Gara'],
 'lgbt': ['Sarah Karlan', 'Trish Bendix'],
 'profile': ['Krystie Lee Yandoli'],
 'science': ['Zahra Hirji',
  'Dan Vergano',
  'Nidhi Subbaraman',
  'Stephanie M. Lee',
  'Peter Aldhous'],
 'jpg': ['Gabriel H. Sanchez'],
 'books': ['Esmé Weijun Wang', 'Mesha Maren', 'Arianna Rebolini'],
 'The Money Trail': ['Azeen Ghorayshi', 'Emma Loop', 'Jason Leopold'],
 'Arts & Entertainment': ['Krystie Lee Yandoli',
  'Marcus Jones',
  'Michael Blackmon',
  'Kate Aurthur',
  'David Mack',
  'Louis Peitzman',
  'Ryan Brooks',
  'Kayla Smalls',
  'Adam B. Vary',
  'Alanna Bennett',
  'Tasneem Nashrulla',
  'Stephanie McNeal'],
 'reader': ['Tomi Obaro',
  'Zan Romanoff',
  'Matt Ortile',
  'Tiana Clark',
  'Shannon Keating',
  'Alison Willmore',
  'Bim Adewunmi',
  'Anna Goshua',
  'Anne Helen Petersen',
  'Jaime Green',
  'Lam Thuy Vo',
  'Manuel Betancourt',
  'Pier Dominguez',
  'Eva Hagberg Fisher',
  'Niela Orr',
  'Kamilah Aisha Moon',
  'Ana Karina Zatarain',
  'Scaachi Koul',
  'Jamie Beckenstein',
  'T. Wise',
  'Fancy Feast'],
 'world': ['Nishita Jha',
  'Hayes Brown',
  'Megha Rajagopalan',
  'Ikran Dahir',
  'Tamerra Griffin',
  'Mark Di Stefano',
  'Emily Tamkin',
  'Vera Bergengruen',
  'FanaLopez',
  'Karla Zabludovsky',
  'Jane Lytvynenko',
  'Rosalind Adams',
  'Kassy Cho',
  'Hazel Shearing',
  'Mitch Prothero',
  'Severino Motta',
  'Kevin Collier',
  'J. Lester Feder',
  'Rose Troup Buchanan',
  'Hamed Aleaziz',
  'Matthew Champion',
  'Hannes Grassegger',
  'Mike Giglio',
  'Adolfo Flores']}