In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/scraped_stories.csv')
df = df[~df['pub_date'].isna()]

In [3]:
df['parsed_date'] = pd.to_datetime(df['pub_date'].apply(lambda x: x.split('Posted on ')[1].split(', at')[0]))

In [7]:
df_19 = df[df['parsed_date']>pd.to_datetime('2018-12-31')]

In [9]:
df_19.groupby('byline').count()

                  link  hed  subhed  pub_date  text_body  parsed_date
byline
Adam B. Vary         5    5       5         5          5            5
Ade Onibada          3    3       3         3          3            3
Adolfo Flores        3    3       3         3          3            3
Alan White           2    2       2         2          2            2
Alanna Bennett       3    3       3         3          3            3
...                ...  ...     ...       ...        ...          ...
Venessa Wong         3    3       3         3          3            3
Vera Bergengruen     2    2       2         2          2            2
Zahra Hirji          4    4       4         4          4            4
Zan Romanoff         1    1       1         1          1            1
Zoe Tillman         15   15      15        15         15           15

[155 rows x 6 columns]

In [10]:
len(df_19)

755