In [2]:
import pandas as pd

2019/01/09 to 2019/02/06

In [4]:
df = pd.read_csv('../data/scraped_stories_sections.csv')
df = df[~df['pub_date'].isna()]

In [6]:
df['parsed_date'] = pd.to_datetime(df['pub_date'].apply(lambda x: x.split('Posted on ')[1].split(', at')[0]))

In [7]:
df_19 = df[df['parsed_date']>pd.to_datetime('2019-01-08')]

In [10]:
df_19.groupby('byline').count()

                  link  hed  subhed  pub_date  text_body  parsed_date
byline
Adam B. Vary         4    4       4         4          4            4
Ade Onibada          2    2       2         2          2            2
Adolfo Flores        2    2       2         2          2            2
Alan White           2    2       2         2          2            2
Alanna Bennett       2    2       2         2          2            2
...                ...  ...     ...       ...        ...          ...
Venessa Wong         2    2       2         2          2            2
Vera Bergengruen     1    1       1         1          1            1
Zahra Hirji          4    4       4         4          4            4
Zan Romanoff         1    1       1         1          1            1
Zoe Tillman         12   12      12        12         12           12

[141 rows x 6 columns]

In [14]:
len(set(df_19.byline))

141